<%- include('partials/header') -%>
<div class="container">
 <!-- FIXED ACTION BUTTON -->
 <div class="fixed-action-btn">
  <a href="#" class="btn-floating red btn-large"><i class="large material-icons">exit_to_app</i></a>
  <ul>
    <li><p class="right col s6 push-s1">
      <a href="/logout" class="btn-floating btn-large waves-effect waves-light red "> 
       EXIT </a></p></li>
    <li hidden><a href="#" class="btn-floating blue 
      btn-large">example</a></li>
    </ul>
</div>

<!-- Switch -->
<div class="switch center">
  <label> <span class="flow-text leaving">
    leaving spot</span>
    <input type="checkbox" name="statusValue" id="statusValue" onclick="switchFunction()"  >
    <span class="lever"></span>
    <span class="flow-text finding">
     finding spot</span>
  </label>
</div>

      <!-- map -->
  <div id="issMap"></div>
  <section id="laddress">Address: <section id="address"></section></section>
  </br>User: <section id="user"></section>
  </br>UserID: <section id="userID"></section>
  
  <div id="takeParking" hidden> 
    <div></div>
    <form   action=''  method="POST" id="deleteB"> 
    <button  class="clear right waves-effect waves-light btn red" onclick='useWaze()'type="submit">
      Take Parking</button>
    </form>
    </div>
  
  
  <script>
  function useWaze(){

    var lat =document.getElementById("latitude").innerHTML ;
    var lng= document.getElementById("longitude").innerHTML ;
    
    window.open(`https://www.waze.com/ul?ll=${lat}%2C${lng}&navigate=yes&zoom=17`);

  }
</script>
  <div class="row mt-5">

          <script>
        //first part of adding markers to group
        function myFunction() {
  alert("Submitted!");
}
     
        const mymap = L.map('issMap', {
          'center': [40.7279101090076, -73.9925114575458],
          'zoom': 14,
                
      });
      //
      //replace with NYC map
        const attribution =
          '&copy; <a href="https://maps{s}.nyc.gov/xyz/1.0.0/carto/basemap/{z}/{x}/{y}.jpg">OpenStreetMap</a> contributors';
  
        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
        
        var greenIcon = L.icon({
          iconUrl: 'https://leafletjs.com/examples/custom-icons/leaf-green.png',
          shadowUrl: 'https://leafletjs.com/examples/custom-icons/leaf-shadow.png',
      
          iconSize:     [38, 40], // size of the icon
          shadowSize:   [50, 30], // size of the shadow
          iconAnchor:   [22, 41], // point of the icon which will correspond to marker's location
          shadowAnchor: [4, 31],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });
     
      var marker;
//add leaving spot marker
var clicks = 0; // counter 
  mymap.on('click', function(event){
            clicks++;//only one marker per user delete last marker using counter
            document.getElementById("latitude").innerHTML = event.latlng.lat;
             document.getElementById("longitude").innerHTML = event.latlng.lng;
             document.getElementById("user").innerHTML =(Object.values(e.target["options"])[0])
             
            
             document.getElementById('theFormId').setAttribute('action', `/coordinate/${event.latlng.lat}/${event.latlng.lng}?_method=PUT`);
              if (clicks>1&& switchFunction()==false) {
              mymap.removeLayer(marker); // remove extra marker when leavin spot
              }       //tag username to marker
            const Uname = document.getElementById("userName")
            if(switchFunction()==false){
            marker= L.marker([event.latlng.lat, event.latlng.lng], 
            {icon: greenIcon,
              draggable: false,
              autoPan: true,
                  
            }).bindTooltip(Uname,
            {
                permanent: true,
                direction: 'right'
                
            }).addTo(mymap).on('click', function(e) {
 
            });}})

            mymap.on('click', function(e) {
  
  var lat =document.getElementById("latitude").innerHTML ;
  var lng= document.getElementById("longitude").innerHTML ;

  const api = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}&zoom=18&addressdetails=1`;

fetch(api)
    .then(response => response.json())
    .then(j => {
     
      console.log(j.display_name)
      document.getElementById("latitude").innerHTML = lat;
     document.getElementById("longitude").innerHTML = lng;   
     document.getElementById("address").innerHTML = j.display_name;   
     
})
});
            
</script>
  <!-- end of leaving spot marker  -->
   <!-- switch for leaving and finding spot     -->
      <div class="right"> <form id=theFormId 
        method="POST" 
              class="col-1"
             ><button id="theFormIda" class="btn-floating yellow darken-4 btn-large" onclick="myFunction()" type="submit">submit</button>
            </form>
          </div>

    </div class="left"><br>
    <div hidden>latitude: <span id="latitude"></span></div><br>
    <div hidden>longitude: <span id="longitude"></span></div>
    <section class="right row">
        <div class="col s20 push-s1000">
            <p><span id="userName" >User Name: user</span></p>
            
  <script>
              const myElement = document.getElementById("");
                      
              L.control.locate(
                {
                  flyTo: true,
                  strings: {title: "Zoom to current location"},
                  icon: "fa fa-map-pin",
                  locateOptions: {maxZoom: 16}
                }
              ).addTo(mymap);

              var markers = new L.FeatureGroup();
</script>
<!-- draw  all flags -->

 
 
    <ul>
  <% larea.forEach(el =>{%>

    <li class="col-6 justify-content-between mt-5 " data-id='<%=el._id%>'>
      
       <script>
        
        var lad= <%= el.lad %>
        var lon= <%= el.lon %>
        var userName= `<%= el.userName %>`
        var user=`<%= el.user %>`
        marker = L.marker([ lon,lad,userName],{userName,user

        })
       
           .bindPopup(userName);

        marker.on('click', function(e) {
          document.getElementById("user").innerHTML =(Object.values(e.target["options"])[0])//username
          document.getElementById("userID").innerHTML =(Object.values(e.target["options"])[1])//userID
  const { lat, lng } = e.target.getLatLng();
  
 
//console.log((Object.values(e.target["options"])[1]));
  const api = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}&zoom=18&addressdetails=1`;
 
fetch(api)
    .then(response => response.json())
    .then(j => {
     
      console.log(j.display_name)
      document.getElementById("latitude").innerHTML = lat;
     document.getElementById("longitude").innerHTML = lng; 
     document.getElementById("userName").innerHTML = (Object.values(e.target["options"])[1]);  
    
    
     document.getElementById("address").innerHTML = j.display_name;
     let deletevar=(Object.values(e.target["options"])[1]);
     let dRoute= ("/coordinate/"+deletevar+"?_method=DELETE");
     document.getElementById("deleteB").action = dRoute;
     
     
})
});
         
     


//console.log(Object.values(marker)//);
       marker.on('mouseover', function (e) {
            this.openPopup();
            
           
           
        });
        
        marker.on('mouseout', function (e) {
            this.closePopup();
           
        });

        
        markers.addLayer(marker);
     
       
          </script>
      </li>
    <%})%>
  </ul>
  
  <script>
  
  </script>
    
  
  <script>
  //switch graying out or hidding submit button
      function switchFunction(){
      //checkbox value
      var isChecked = document.getElementById('statusValue').checked; 
      var instruction = document.getElementById('instruction')
      const element = document.getElementById("theFormIda");
      if(document.getElementById('statusValue').checked==true){              
                    
                    document.getElementById("theFormId").hidden = true;
                    document.getElementById("takeParking").hidden = false;
                    mymap.addLayer(markers)}
                  
        else{document.getElementById("theFormId").hidden = false;
        document.getElementById("takeParking").hidden = true;
        mymap.removeLayer(markers);
        
      }
    
    
    return isChecked;}
    
    
    </script>
    </div>
  </div>
   
</div>


<%- include('partials/footer') -%>